@import "@/lib/styles.css";

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  letter-spacing: -0.01em;
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}
